.avatar {
  max-width: 3rem;
  max-height: 3rem;
  border-radius: 8px;
}

.avatarWithBorder {
  width: 3.75rem;
  padding: 0.25rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 2px solid var(--green-500);
  background: var(--gray-800);
}
